@import '../variables.scss';

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  display: inline-block;
  position: relative;

  .loader-spinner {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: loader-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary-color transparent transparent transparent;
    
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  &.loader-small {
    width: 20px;
    height: 20px;
    
    .loader-spinner {
      width: 20px;
      height: 20px;
      border-width: 2px;
    }
  }

  &.loader-medium {
    width: 40px;
    height: 40px;
    
    .loader-spinner {
      width: 40px;
      height: 40px;
      border-width: 4px;
    }
  }

  &.loader-large {
    width: 60px;
    height: 60px;
    
    .loader-spinner {
      width: 60px;
      height: 60px;
      border-width: 6px;
    }
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}